<ion-view view-title="Indicador">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Denúncias recentes</div>
      <div class="item item-body">
          <li>Carro estaciona em lugar proibido</li>
          <li>Acidente de carro</li>
          <li>Pessoa ameaça idoso</li>
          <li>Briga de comerciantes</li>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Top denúcias</div>
      <div class="item item-body">
        <div>
          <div>1 - Pessoa ameaça idoso</div>
          <div>2 - Acidente de carro</div>
          <div>3 - Briga de comerciantes</div>
          <div>4 - Carro estaciona em lugar proibido</div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Total</div>
      <div class="item item-body">
        <div>
          <b>8.676.393</b> Usuários
        </div>
        <div>
          <b>237</b> Denúncias pendentes
        </div>
        <div>
          <b>2.467.456</b> Denúncias solucionadas
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
