<ion-view view-title="Denúncia">
  <ion-content class="padding">
    <md-content class="autoScroll">
    	<div layout="row" layout-xs="column">
	  		<md-input-container class="md-block" flex>
		      <!-- Use floating placeholder instead of label -->
		      <md-icon md-svg-src="../img/icons/textlines.svg" class="email"></md-icon>
		      <input ng-model="obj.description" type="text" placeholder="Descrição" ng-required="true">
		    </md-input-container>
		 </div>
		 <div layout="row" layout-xs="column">
		    <md-input-container class="md-block" flex>
		      <!-- Use floating placeholder instead of label -->
		      <md-icon md-svg-src="../img/icons/locate.svg" class="email"></md-icon>
		      <input ng-model="obj.street" type="text" placeholder="Rua" ng-required="false">
		    </md-input-container>
		 </div>
		 <div layout="row" layout-xs="column">
		    <md-input-container class="md-block" flex>
		    	<md-icon md-svg-src="../img/icons/locates.svg" class="email"></md-icon>
		      	<input ng-model="obj.state" type="text" placeholder="Estado" ng-required="false">
		    </md-input-container>
		    <md-input-container class="md-block" flex>
		    	<md-icon md-svg-src="../img/icons/locates.svg" class="email"></md-icon>
		    	<input ng-model="obj.city" type="text" placeholder="Cidade" ng-required="false">
		    </md-input-container>
		 </div>
		 <div layout="row" layout-xs="column">
		 	<md-icon md-svg-src="../img/icons/photography.svg"></md-icon>
		 	<img src="../img/icons/photography.svg" height="150px" flex>
		 	<img src="../img/icons/photography.svg" height="150px" flex>
		 	<img src="../img/icons/photography.svg" height="150px" flex>
		 	<img src="../img/icons/photography.svg" height="150px" flex>
		 </div>
	</md-content>
    <div class="list card">
      <div class="item item-divider">Denúncias pendentes</div>
      <div class="item item-body">
          <li>Carro estaciona em lugar proibido</li>
          <li>Acidente de carro</li>
          <li>Pessoa ameaça idoso</li>
          <li>Briga de comerciantes</li>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Denúncias solucionadas</div>
      <div class="item item-body">
          <li>Carro estaciona em lugar proibido</li>
          <li>Acidente de carro</li>
          <li>Pessoa ameaça idoso</li>
          <li>Briga de comerciantes</li>
      </div>
    </div>
  </ion-content>
</ion-view>
